// PERSONAL EDIT
body{
    background: rgb(35, 33, 33);
    color:whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}



.btn{
    background-color: coral;
    border: none;
}
.btn:hover{
    background: red;
}


.Gallery{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    .carousel {
        width: 400px;
        height: 350px;
        border-radius: 12px;
        border: 5px solid white;
        overflow: hidden;
    }
}


